*{
  box-sizing: border-box;
}
body {
    font-family: 'Oxygen', sans-serif;
  }
  
  /** HEADER **/
  #header-nav {
    background-color:gray;
    border-radius: 0;
    border: 0;
  }


 #header.row{
   display: contents;
 }
  
  #nav-list {
    margin-top: 10px;
   
  }
#nav-list a{
  font-size: 1.2em;
  margin: 10px 10px 10px 10px;
}
 
 #title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
 }

 #chicken,#beef,#sushi{
  border: #000 2px;
  border-style: solid;
  margin: 0 auto 15px;
  background-color: gray;
}

 #item h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
 }
#item p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
}
#dropdownbutton1{
  display: none;
}

/********** Extra small devices only **********/
@media (max-width: 575px) {
  /* Header */
  #dropdownbutton1{
    display: flex;
    margin-top: -30px;
  }
  button.dropdown {
    clear: both;
    border: 1px solid ;
    border-radius: 4px;
   float: right;
  }
  .dropdown-menu{
    width: 100%;
  }
#item{
  padding-left: 30px;
  padding-right: 30px;
}
  .navbar > .container{
    justify-content: flex-end;
  }

  .dropdown-menu li { 
    font-size: 1.2em;
  }
  .dropdown-menu li span { 
    font-size: 1em;
    margin-right: 5px;
    
  }
  
}
